body {
  margin: 0;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #b3c0da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.neon-light {
  transform: translate(-0%, -650%);
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #fff, 0 0 160px 20px #08f,
    inset 0 0 20px #08f, 0 0 320px 30px #08f, inset 0 0 20px rgb(194, 124, 124);
  animation: run 1s linear infinite;
}

@keyframes run {
  0% {
    left: 35%;
    opacity: 0;
  }
  2% {
    left: 35%;
    opacity: 1;
  }
  4% {
    left: 35%;
    opacity: 0;
  }
  6% {
    left: 35%;
    opacity: 1;
  }
  8% {
    left: 35%;
    opacity: 0;
  }
  10% {
    left: 35%;
    opacity: 1;
  }
  100% {
    left: 65%;
    opacity: 1;
  }
}

.button {
  background-color: rgb(176, 176, 243);
  color: #000;
}

.instructions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: green;
}

.thumb {
  width: 150px;
  height: auto;
}

.script {
  font-family: "Corinthia", cursive;
  color: red;
}
